:root {
  /* God's Daughter color scheme */
  --one: #62A07B;
  --two: #4F8B89;
  --three: #536C8D;
  --four: #5C4F79;
  --five: #613860;

  --button-color: #f80;
  --button-shadow: #f60;
  --button-highlight: #e74c3c;
  --font-color: #2c3e50;
}

body {
  color: var(--font-color);
  margin: 0;
}

.wrapper {
  padding: 0em 2em;
}

h1 {
  font-size: 3em;
  margin: 0;
  margin-top: 6rem;
  color: var(--font-color);
}

h2 {
  margin: 1rem;
  display: block;
  font-size: 2em;
  color: var(--font-color);
}

p {
  font-size: 1.1rem;
  line-height: 2rem;
}

body {
  font-family: 'Ubuntu';
  background: #f0f0e8;
}

a {
  margin: 0.5em;
}

.top-bar {
  width: 100%;
  height: 1rem;
  background: #f80;
}

.block-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.block-column {
  text-align: center;
  margin: 0.5rem;
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0px 4px #e0e0d8;
  /* width: 28em; /* <- 4 blocks wide */
  flex-basis: 21rem;
  padding: 1rem;
}

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-block {
  width: 6em;
  height: 6em;
  margin: 0em;
  padding: 0em;
  border-radius: 0.3em;
  bottom: 4px;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.2s, bottom 0.2s;
  background: var(--button-color);
  box-shadow: 0px 4px var(--button-shadow);
}

.social-block:active {
  transition: box-shadow 0s, bottom 0s;
  bottom: 0px;
  box-shadow: 0px 0px var(--button-shadow);
}

.social-block:hover .social-icon {
  transition: color 0s;
  /*color: var(--button-highlight);*/
}

.social-icon {
  position: absolute;
  font-size: 4em;
  color: white;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-shadow: 0px -1px var(--button-shadow), 0px -2px var(--button-shadow);
  transition: color 0.5s;
}

@media(max-width: 800px) {
  .block-columns {
    flex-direction: column;
  }

  .block-column {
    flex-basis: 0;
  }

  .wrapper {
    padding: 0em 0.5em;
  }
}
