body {
  background-color: #333;
}

#content {
  background-color: #444;
  width: 56em;
  margin: auto;
  padding: 2em;
  border-radius: 6px;
}

h1 {
  color: #eee;
  font-family: monospace;
}

p {
  color: #ddd;
  font-family: monospace;
  font-size: 1.2em;
}

a:link {
  color: #ff8f00;
  font-family: monospace;
  font-size: 1.2em;
}

a:visited {
  color: #ff6f00;
  font-family: monospace;
  font-size: 1.2em;
}
