:root {
    --accent-color: #f80;
    --accent-shadow: #f40;
    --font-color: #2c3e50;
    --background-color: #f0f0ed;
}

body {
    margin: 0;
    color: var(--font-color);
    font-size: 1.1rem;
    font-family: "Ubuntu", "Calibri", "UD Digi Kyokasho NP-R", "BIZ UDPMincho";
    background: var(--background-color);
}

h1,
h2,
h3,
h4 {
    color: var(--font-color);
    margin: 0;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}

p {
    line-height: 2rem;
    margin: 0;
}

/* ANCHOR */

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-shadow);
}

/* UNORDERED LIST */

ul {
    margin: 0;
    padding-left: 1rem;
    list-style: none;
}

ul > * {
    margin-bottom: 0.5rem;
}

ul:last-child {
    margin-bottom: 0;
}

ul li:before {
    content: "•\0000a0\0000a0";
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2rem;
    padding: 2rem;
    background: white;
    border-radius: 5px;
}

@media (max-width: calc(600px + 8rem)) {
    main {
        margin: 0;
        padding: 4rem;
        border-radius: 0;
    }
}

main > * {
    margin-bottom: 2rem;
}

main:last-child {
    margin-bottom: 0;
}

/* SECTION */

section {
    display: flex;
    flex-direction: column;
}

section > * {
    margin-bottom: 1rem;
}

section:last-child {
    margin-bottom: 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
}

header > * {
    margin-bottom: 0.5rem;
}

header:last-child {
    margin-bottom: 0;
}

/* NAV */

nav {
    display: flex;
    flex-direction: row;
    overflow: wrap;
}

nav > * {
    margin-right: 0.5rem;
}

nav:last-child {
    margin-right: 0;
}
