
body {
  background-color: #eee;
}

#shell {
  padding: 1em;
  width: 640px;
  margin: auto;
}

#shell-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: inherit;
  background-color: #333;
  padding: 1em;
}

#shell-bottom {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: inherit;
  background-color: #444;
  padding: 1em;
}

.code {
  font-family: monospace;
  font-size: 1.2em;
  color: #eee;
  display: inline-block;
}

.prompt {
  font-family: monospace;
  font-size: 1.2em;
  color: #91db37;
  display: inline-block;
}

input {
  background-color: inherit;
  border: none;
  height: 24px;
  width: 620px;
}

input:focus {
  outline: none;
}
